.footer {
  background-color: #be1e2d;
  color: #fff;
  padding: clamp(1.5rem, 4vw, 2rem);
}

.footer-content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: clamp(1rem, 2vw, 1.2rem);
  text-align: center;
}

.footer-content a:hover {
  color: #d7ff35;
}

.footer-logo {
  width: clamp(1.5rem, 3vw, 2rem);
  height: clamp(1.5rem, 3vw, 2rem);
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.footer-bottom {
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .logo-box {
    margin-right: auto;
  }

  .footer-content a {
    text-align: center;
  }
}
