.links-section {
  margin: 40px 0;
  padding: 0 20px;
  margin: 0 auto;
}

.links-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-item {
  opacity: 0.5;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.list-item:hover {
  opacity: 1;
}

.list-link {
  text-decoration: none;
  width: 100%;
  color: #000;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  transition: opacity 0.3s ease;
}

.list-link:hover {
  opacity: 0.7;
}

.list-description,
.list-name,
.list-date {
  font-size: 2.5rem;
  color: #000;
  white-space: nowrap;
  font-weight: 450;
}
